<a href="https://colab.research.google.com/github/Carolinsrainbow/UC_IngenieriaDeDatos/blob/main/Evaluaci%C3%B3n2_CarolinaHerreraAzolas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tarea 2 -- formulario de carga de datos y respuestas

En este notebook pueden ingresar sus respuestas a las preguntas de tarea 2, y asegurarse que sus comandos SQL funcionan de manera adecuada.



### Cargar SQLite y subir la base de datos a Google Colab

Cómo siempre, para poder ocupar el notebook, lo deben subir a https://colab.research.google.com

Luego, ejecutando el siguiente campo, se crea una instancia de servidor SQLite, se creará el esquema vista en el enunciado, y se cargarán los datos desde un google drive.

In [1]:
%load_ext sql
!wget -O datos_T2.db --no-check-certificate https://drive.google.com/uc\?export\=download\&id\=1XHbkX4QCDeHQTPy_mOw68Wo8rqYMyY6o

%sql sqlite:///datos_T2.db

--2024-04-14 00:30:18--  https://drive.google.com/uc?export=download&id=1XHbkX4QCDeHQTPy_mOw68Wo8rqYMyY6o
Resolving drive.google.com (drive.google.com)... 172.253.115.102, 172.253.115.100, 172.253.115.139, ...
Connecting to drive.google.com (drive.google.com)|172.253.115.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1XHbkX4QCDeHQTPy_mOw68Wo8rqYMyY6o&export=download [following]
--2024-04-14 00:30:18--  https://drive.usercontent.google.com/download?id=1XHbkX4QCDeHQTPy_mOw68Wo8rqYMyY6o&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.31.132, 2607:f8b0:4004:c0b::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.31.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 118784 (116K) [application/octet-stream]
Saving to: ‘datos_T2.db’

datos_T2.db         100%[===================>] 116.00K  --.-KB/s    in 0.01s

2024-04-14 00:30:18 (11.8 MB/s) - ‘datos_T2.db’ saved [118784/118784]

##Pregunta 1

Para asegurarse qué la base de datos está cargada, en esta pregunta deben correr una serie de comandos de tipo:
```
SELECT *
FROM NombreTabla
LIMIT 5;
```

Por ejemplo, para ver la tabla `Persona`, puedes correr:

```
SELECT *
FROM Persona
LIMIT 5;
```

Dado que nuestras tablas tienen 100 o más tuplas, desplegaremos solo las primeras 5 con el comando `LIMIT 5`.

In [2]:
%%sql

SELECT *
FROM Persona
LIMIT 5;

 * sqlite:///datos_T2.db
Done.

[('Brian Sanders', '442-30-8082', '127-998-7310', 'brian.sanders@mail.cl'),
 ('Caleb Simpson', '151-44-5451', '+1-741-621-2285', 'caleb.simpson@mail.cl'),
 ('Kelly Mccullough', '315-42-0080', '417-906-4707', 'kelly.mccullough@uc.cl'),
 ('Jason Martin', '562-11-8702', '5667649532', 'jason.martin@uc.cl'),
 ('Natalie Lane', '893-23-0369', '+1-942-497-5393x1664', 'natalie.lane@mail.cl')]

##Pregunta 2

Ahora que tenemos nuestra base de datos preparada, la podemos analizar en más detalles. En esta primera pregunta te pedimos encontrar la(s) persona(s) qué participa(n) en máxima cantidad de talleres que se realizan en **Honduras**. Se requiere escribir una consulta SQL que recupera esta información sobre nuestro esquema. Esto quiere decir que la consulta debe devolver esta misma información sobre cualquier instancia de nuestro esquema, y no solo con la instancia que estamos revisando.

In [ ]:
%%sql

##Pregunta 3

Ahora nos interesaría encontrar el nombre del deporte más popular. Para esto, escriba la consulta SQL que encuentra el nombre de deporte de taller deportivo con la mayor cantidad de participantes. Notar que buscamos el taller más popular (quiere decir con la mayor cantidad de participantes), y de dicho taller extraemos el nombre del deporte. De nuevo, tu consulta debe funcionar sobre cualquier instancia de nuestro esquema.

In [ ]:
%%sql

##Pregunta 4

Ahora para cada taller instrumental cuenta el número de gente con el correo “@uc” participando. Debes escribir una consulta SQL que devuelve el id del taller, nombre del instrumento, y el número de personas con el correo “@uc” inscritas a este taller. Para filtrar la gente participando, ocupa el comando LIKE, que permite buscar sobre un string.

In [ ]:
%%sql

##Pregunta 5

Para cada persona, computa la cantidad de talleres en cuales participa esta persona. Esto debe incluir tantos talleres deportivos, cómo talleres instrumentales. Una manera de resolver esta consulta es ocupando consultas anidadas en la cláusula `FROM`, computando dicho número para cada tipo de taller.

In [ ]:
%%sql