<a href="https://colab.research.google.com/github/Carolinsrainbow/UC_IngenieriaDeDatos/blob/main/Evaluaci%C3%B3n_2_Carolina_Herrera_Azolas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tarea 1 -- formulario de respuestas

En este notebook pueden ingresar sus respuestas a las preguntas de tarea 1, y asegurarse que sus comandos SQL funcionan de manera adecuada.

### Iniciar el servidor

Cómo siempre, para poder ocupar el notebook, lo deben subir a https://colab.research.google.com

Luego, ejecutando el siguiente campo, se crea una instancia de servidor postgres, dónde pueden realizar sus consultas.

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 229 kB in 2s (116 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
45 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 14 database server
   ...done.
ERROR:  role "root" already exists
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

##Pregunta 1

La primera tarea que debes realizar es escribir un esquema relacional para nuestro caso de uso, especificando los nombres de las tablas, los tipos de atributos, y nombrar las llaves primarias en cada tabla.
Adicionalmente, debes explicar cómo lograste guardar la información que una persona participa en un taller, y que un taller se realiza en un lugar específico.

Cómo un ejemplo de cómo se debe ver tu solución, basta con escribir algo cómo:

`País(id INT, nombre VARCHAR(50), población INT)`

*Llave para la relación País:* id

En caso de esquema para un país.

Este esquema no necesita ser en SQL.

La respuesta la pueden ingresar en el campo abajo:

## Respuesta 1:
1. Tabla 1
Personas(pId int, nombre VARCHAR(40),rut VARCHAR(14), correo VARCHAR(50), telefono CHAR(11)
);

2. Tabla 2
AgendamientoTaller(tId int,nombreTaller VARCHAR(30) PRIMARY KEY,
  instructor VARCHAR(30),fecha DATE, hora CHAR(5),valor int, duracion float
);

3. Tabla 3
Ubicacion(uId int,region VARCHAR(40),comuna VARCHAR(40),calle VARCHAR(40),sede VARCHAR(40)
);

participacionxTaller( pId int, tId int
);

participantesxUbicacion(pId int, uId int
);

Para este caso utilizamos como llame primaria en el nombre de agendamiento, dado que el avance puede ir identificado a un número o nivel (por ejemplo, si fuera pilates, sería Pilates nivel 1,2 o 3).
Para las tablas personas, agendamiento y ubicación se les asigna una llave subrrogate para identificar el id especifico, ya que necesitabamos un nuevo único.

##Pregunta 2

Con tu esquema en mano, debes escribir los comandos SQL para crear las tablas en tu esquema. Esto requiere tener cinco o más comandos de tipo “CREATE TABLE…” que deben poder ejecutarse correctamente en SQL. Quiere decir, si nosotros ejecutamos estos comandos, el motor de SQL no nos dará un error. Para esto, te recomendamos correr tus comandos directamente en el siguiente campo de Notebook en Google Colab:

In [ ]:
%%sql


CREATE TABLE IF NOT EXISTS Personas(
  pId int,
  nombre VARCHAR(40),
  rut VARCHAR(14),
  correo VARCHAR(50),
  telefono CHAR(11)
);


CREATE TABLE IF NOT EXISTS AgendamientoTaller(
  tId int,
  nombreTaller VARCHAR(30) PRIMARY KEY,
  instructor VARCHAR(30),
  fecha DATE,
  hora CHAR(5),
  valor int,
  duracion float
);

CREATE TABLE IF NOT EXISTS Ubicacion(
  uId int,
  region VARCHAR(40),
  comuna VARCHAR(40),
  calle VARCHAR(40),
  sede VARCHAR(40)
);

CREATE TABLE IF NOT EXISTS participacionxTaller(
   pId int, tId int
);

CREATE TABLE IF NOT EXISTS participantesxUbicacion(
    pId int, uId int
)

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

##Pregunta 3

Con tus tablas creadas, ahora las vamos a llenar de datos. Te pedimos insertar toda la siguiente información, descrita de manera informal, a tu base de datos:

Personas:
-	John Russo, rut: 883.111.6793-1, correo: john.russo@uc.cl, tel: 748-29-1038
-	Matthew Howard, rut: 323.654.56-1, correo:matthew.howard@uc.cl, tel: 004-11-7328
-	Susan Griffith, rut: 389.197.781-5, correo:susan.griffith@email.com, tel: 342-03-4478

Todas estas personas participan en el taller con datos:
- nombre: Taller de cocina, instructor: Gibson, fecha: 2021-12-28, hora: 12:00, valor: 9, duración: 1.5.

También, disponemos de información que John Russo participa en el taller con datos:
- nombre: Taller 11, instructor: Jonathan Duffy, fecha: 2022-12-11, hora: 13:00, valor: 7, duración: 1.0.

Crea los comandos “INSERT INTO…” que inserta esta información a tus tablas. Esto incluye tanto la
información de personas, cómo la de talleres y de la participación en los talleres Estos comandos deben correr correctamente en SQL en el siguiente campo:

In [ ]:
%%sql

INSERT INTO Personas VALUES(1,'John Russo', '883.111.6793-1', 'john.russo@uc.cl', '748-29-1038');
INSERT INTO Personas VALUES(2,'Matthew Howard', '323.654.56-1', 'matthew.howard@uc.cl', '004-11-7328');
INSERT INTO Personas VALUES(3,'Susan Griffith', '389.197.781-5', 'susan.griffith@email.com', '342-03-4478');


INSERT INTO AgendamientoTaller VALUES(1,'Taller de cocina','Gibson','2021-12-28','12:00',9,1.5);
INSERT INTO AgendamientoTaller VALUES(2,'Taller 11', 'Jonathan Duffy', '2022-12-11', '13:00', 7, 1.0);

INSERT INTO Ubicacion VALUES(1,'Metropolitana','Ñuñoa','Av. Italia','Barrio Italia');
INSERT INTO Ubicacion VALUES(1,'Metropolitana','Providencia','Av. Italia','Los Leones');

INSERT INTO participacionxTaller VALUES(1,1);
INSERT INTO participacionxTaller VALUES(2,1);
INSERT INTO participacionxTaller VALUES(3,1);
INSERT INTO participacionxTaller VALUES(2,1);

INSERT INTO participantesxUbicacion VALUES(1,2);
INSERT INTO participantesxUbicacion VALUES(2,1);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

##Pregunta 4

Escriba en SQL la consulta que sobre tu base de datos devuelve nombre de todos los talleres. Esta consulta se debe ejecutar correctamente sobre tu esquema, y los datos ingresados en la Pregunta 3, pero también en otras instancias de tu esquema relacional.

La consulta la puedes ingresar al siguiente campo:

In [ ]:
%%sql
SELECT DISTINCT nombretaller
FROM AgendamientoTaller

 * postgresql+psycopg2://@/postgres

       nombretaller
0  Taller de cocina
1         Taller 11