<a href="https://colab.research.google.com/github/Carolinsrainbow/UC_IngenieriaDeDatos/blob/main/Evaluaci%C3%B3n_3_Carolina_Herrera_Azolas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tarea: Analizando datos con SQL y Pandas

Pregunta 1
En esta primera pregunta, te pedimos ejecutar la primera celda en el notebook para
configurar el entorno de SQL, Pandas, Python, y descargar todos los datos necesarios para
la tarea. En particular, se descargará el archivo datos_T3.db, y
country_profile_variables.csv.

In [3]:
# Incorporación de SQL, Pandas & Python
%load_ext sql
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# Incorporación de CSV