<a href="https://colab.research.google.com/github/Carolinsrainbow/UC_IngenieriaDeDatos/blob/main/Final_CarolinaHerreraAzolas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabajo final -- formulario de carga de datos y respuestas

En este notebook pueden ingresar sus respuestas a las preguntas del trabajo final y asegurarse que sus comandos SQL funcionan de manera adecuada.

**IMPORTANTE**: **Debes entregar tu notebook ejecutado según tus últimos cambios ya que se revisarán los resultados en base a lo que salga ejecutado del notebook.**

En el menú superior de google colab > Entorno de ejecución > Ejecutar todo,  tienes la opción de ejecutar todas las celdas del notebook. Puedes realizar esta acción antes de entregar tu tarea para asegurarte de que tus últimos cambios en el código sean los ejecutados.



### Cargar SQLite y subir la base de datos a Google Colab

Cómo siempre, para poder ocupar el notebook, lo deben subir a https://colab.research.google.com

Luego, ejecutando el siguiente campo, se crea una instancia de servidor SQLite, se creará el esquema vista en el enunciado, y se cargarán los datos desde un google drive.

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# pin package versions for google colab compatibility
!pip install SQLAlchemy==1.4.46
!pip install ipython-sql==0.4.1
%load_ext sql

# Cargamos SQL y la base de datos:
!wget -O datos_T3.db --no-check-certificate https://drive.google.com/uc\?export\=download\&id\=14puII6h6V45QY_FwRsgY_g86y7hf9IcE

%sql sqlite:///datos_T3.db

# Descargamos los csv:
!wget -O Ciudad.csv --no-check-certificate https://drive.google.com/uc\?export\=download\&id\=1jlpOj22VLlhRzsLwyyylR8MuHILrxdiT
!wget -O Pais.csv --no-check-certificate https://drive.google.com/uc\?export\=download\&id\=1dQNdoeKbk60SMH6x04zW09zOF-kOsZ0P
!wget -O CiudadPais.csv --no-check-certificate https://drive.google.com/uc\?export\=download\&id\=1bOpRAsKJmWkX9T5LdGnz3h1nxHBiJCok

# Importamos Pandas:
import pandas as pd

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:4 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
48 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 14 database server
   ...done.
ERROR:  role "root" already exists
Requirement already satisfied: SQLAlchemy==1.4.46 in /usr/local/lib/python3.10/dist-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.46) (3.0.3)
Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
--2024-05-09 13:05:25--  https://drive.google.com/uc?export=download&id=14puII6h6V45QY_FwRsgY_g86y7hf9IcE
Resolving drive.google.com (drive.google.com)... 74.125.197.113, 74.125.197.138, 74.125.197.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.197.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=14puII6h6V45QY_FwRsgY_g86y7hf9IcE&export=download [following]
--2024-05-09 13:05:25--  https://drive.usercontent.google.com/download?id=14puII6h6V45QY_FwRsgY_g86y7hf9IcE&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.197.132, 2607:f8b0:400e:c03::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.197.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 126976 (124K) [application/octet-stream]
Saving to: ‘datos_T3.db’

datos_T3.db         100%[===================>] 124.00K  --.-KB/s    in 0.001s

2024-05-09 13:05:26 (89.2 MB/s) - ‘datos_T3.db’ saved [126976/126976]

--2024-05-09 13:05:26--  https://drive.google.com/uc?export=download&id=1jlpOj22VLlhRzsLwyyylR8MuHILrxdiT
Resolving drive.google.com (drive.google.com)... 74.125.197.113, 74.125.197.138, 74.125.197.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.197.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1jlpOj22VLlhRzsLwyyylR8MuHILrxdiT&export=download [following]
--2024-05-09 13:05:26--  https://drive.usercontent.google.com/download?id=1jlpOj22VLlhRzsLwyyylR8MuHILrxdiT&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.197.132, 2607:f8b0:400e:c03::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.197.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1309 (1.3K) [application/octet-stream]
Saving to: ‘Ciudad.csv’

Ciudad.csv          100%[===================>]   1.28K  --.-KB/s    in 0s

2024-05-09 13:05:26 (99.2 MB/s) - ‘Ciudad.csv’ saved [1309/1309]

--2024-05-09 13:05:26--  https://drive.google.com/uc?export=download&id=1dQNdoeKbk60SMH6x04zW09zOF-kOsZ0P
Resolving drive.google.com (drive.google.com)... 74.125.197.113, 74.125.197.138, 74.125.197.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.197.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1dQNdoeKbk60SMH6x04zW09zOF-kOsZ0P&export=download [following]
--2024-05-09 13:05:27--  https://drive.usercontent.google.com/download?id=1dQNdoeKbk60SMH6x04zW09zOF-kOsZ0P&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.197.132, 2607:f8b0:400e:c03::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.197.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 936 [application/octet-stream]
Saving to: ‘Pais.csv’

Pais.csv            100%[===================>]     936  --.-KB/s    in 0s

2024-05-09 13:05:31 (35.7 MB/s) - ‘Pais.csv’ saved [936/936]

--2024-05-09 13:05:31--  https://drive.google.com/uc?export=download&id=1bOpRAsKJmWkX9T5LdGnz3h1nxHBiJCok
Resolving drive.google.com (drive.google.com)... 74.125.197.113, 74.125.197.138, 74.125.197.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.197.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1bOpRAsKJmWkX9T5LdGnz3h1nxHBiJCok&export=download [following]
--2024-05-09 13:05:31--  https://drive.usercontent.google.com/download?id=1bOpRAsKJmWkX9T5LdGnz3h1nxHBiJCok&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.197.132, 2607:f8b0:400e:c03::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.197.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 474 [application/octet-stream]
Saving to: ‘CiudadPais.csv’

CiudadPais.csv      100%[===================>]     474  --.-KB/s    in 0s

2024-05-09 13:05:32 (16.3 MB/s) - ‘CiudadPais.csv’ saved [474/474]

##Pregunta 1

En esta primera pregunta, te pedimos ejecutar la primera celda del  notebook para configurar el entorno de SQL, y descargar la base de datos de tareas 2/3  además de los tres archivos CSV.

Luego, te pedimos crear las tablas nuevas con los atributos adecuados (los nombres deben coincidir con los nombres de la especificación de arriba, y los tipos de atributos los debes asignar tú). Para guiar un poco tu diseño de distintos tipos de atributos, te dejamos dos ejemplos con tipos de datos especificados:

```
Persona(rut VARCHAR(100) PRIMARY KEY, nombre VARCHAR(100), correo VARCHAR(100), telefono VARCHAR(100));

Paises(pid INT PRIMARY KEY, nombre VARCHAR(100));
```

Para esto, debes escribir un comando del tipo `CREATE TABLE…` en SQL para cada tabla marcada con *** en la especificación de arriba. El punto del ejercicio es modificar tu base de datos tal que al final de la tarea contenga los datos necesarios. Quiere decir que, algunas tablas se mantienen como están (por ejemplo Persona) y algunas se pueden borrar al final del ejercicio.

**Importante**: No te olvides de especificar las llaves primarias y foráneas. Por ejemplo, tenemos que IDCiudad es una llave foránea en la tabla LugarNuevo (para Ciudades), o que rut es la llave foránea en Participa.

##Pregunta 2

Inserta a las tablas `Taller`, `Deportivo` e `Instumental` los datos que se piden según su esquema, desde las tablas `TallerDeportivo` y `TallerInstrumental` que ya existen en tu base de datos.

Para esto puedes ocupar SQL, Pandas, Python, lo que sea. Una buena alternativa se propone en el siguiente link: https://www.w3schools.com/sql/sql_insert_into_select.asp

También pueden ver el siguiente link: https://stackoverflow.com/questions/71362727/python-sqlite3-insert-data-from-for-loop (si siguen esta forma, recuerden hacer commit a la connection luego de ejecutar el INSERT INTO )

Finalmente, ejecuta las siguientes celdas para corroborar que los datos se hayan cargado de forma correcta:

In [ ]:
%%sql
SELECT * FROM Taller LIMIT

In [ ]:
%%sql
SELECT * FROM Deportivo LIMIT 10

In [ ]:
%%sql
SELECT * FROM Instrumental LIMIT 10

##Pregunta 3

Ocupando los 3 csv entregados, llena las tablas `País` y `Ciudad` del esquema nuevo. Para esto, hay que hacer un join entre los csv. De nuevo, esto lo puedes hacer con Pandas (cargando los tres CSV a SQL)  o con Python.

Aquí puedes cargar los csvs en Pandas, y luego ocupar este tutorial para cargar datos desde un dataframe a una tabla SQL: https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html

Alternativamente, lo más fácil sería cargar datos desde un csv directamente a sqlite, como se explica aquí: https://www.sqlitetutorial.net/sqlite-import-csv/
 (pero para esto, debes tener sqlite3 instalado en tu computador)

Otro link que puede ser de utilidad es el siguiente: https://kontext.tech/article/633/pandas-save-dataframe-to-sqlite

Finalmente, ejecuta las siguientes celdas para corroborar que los datos se hayan cargado de forma correcta:

In [ ]:
%%sql
SELECT * FROM Pais limit 5

In [ ]:
%%sql
SELECT * FROM Ciudad limit 5

##Pregunta 4

Llena la tabla LugarNuevo de tu esquema con los datos que se piden. Para esto necesitas ocupar la tabla Lugar (que viene en la base de datos anterior)  y las tablas Ciudad y País (o los CSVs si prefieres).

Debes tener cuidado al cruzar la información de las ciudades proveniente de la base de datos anterior con las ciudades que vienen de los archivos nuevos, ya que no todas las ciudades tendrán lugares asociados en la base de datos anterior. La idea es que no queden nulos en tu base de datos.


Quizás te puede servir este link https://datatofish.com/sql-to-pandas-dataframe/

Finalmente, ejecuta la siguiente celda para corroborar que los datos se hayan cargado de forma correcta:

In [ ]:
%%sql
SELECT * FROM LugarNuevo limit 5

##Pregunta 5

Ahora que terminamos la carga de datos en las tablas nuevas, es tiempo de limpiar nuestra base de datos. Para esto te pedimos borrar las tablas: `Lugar`, `TallerInstrumental` y `TallerDeportivo` de la base de datos antigua.

Finalmente, ejecuta las siguientes celdas para corroborar que las tablas se hayan eliminado de forma correcta. Si es que una tabla se borró correctamente, la ejecución de la consulta te debería devolver el siguiente error:
```
* sqlite:///datos_T3.db
(sqlite3.OperationalError) no such table: NombreTabla):
```

In [ ]:
%%sql
SELECT * FROM Lugar

In [ ]:
%%sql
SELECT * FROM TallerDeportivo

In [ ]:
%%sql
SELECT * FROM TallerInstrumental

## Pregunta 6

Con nuestra base de datos lista, podemos hacer un poco de análisis de los datos. En esta pregunta, te pedimos escribir una consulta SQL que ordene los talleres deportivos según la participación. Quiere decir, debes devolver **id del taller, nombre del taller, nombre del deporte y la cantidad de gente distinta que participa en este taller**, ordenado de forma descendente.

In [ ]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

## Pregunta 7

En esta pregunta debes escribir una consulta SQL que entregue el **nombre y país de la ciudad** donde se organiza la máxima cantidad de talleres instrumentales. Quiere decir, hay que calcular cuántos talleres instrumentales hay en cada ciudad, y devolver la(s) ciudad(es) dónde se alcanza el número máximo.

In [ ]:
%%sql

## Pregunta 8

En esta pregunta queremos saber los nombres de los países con la cantidad máxima de lugares con al menos 2 talleres deportivos (2 o más) organizados en estos lugares. Quiere decir, para cada lugar hay que ver si hay al menos 2 talleres deportivos en él, y se necesita devolver **el país con la cantidad maxima de lugares** con esta propiedad.

In [ ]:
%%sql